
    <h3>Links to Other Mountaineering Sites.</h3>
    <ul>
      <li><a href="http://alanhalewood.blogspot.com/">Alan Halewood</a></li>
      <li><a href="http://www.westcoast-mountainguides.co.uk/">West
      Coast Mountain Guides</a></li>
      <li><a href="http://mountainplan.blogspot.com/">Mountain Plan
      </a></li>
      <li><a href="http://andy-kirkpatrick.com/">Andy
      Kirkpatrick</a></li>
      <li><a href="http://www.mwis.org.uk/">Mountain Weather Information</a></li>
    </ul>

