    <h2>Search</h2>
    <form method="get" action="http://www.google.com/search">

      <input type="text" id="search" class="ti" name="q" value="" />
      <input type="hidden" name="q" value="site:ian-barton.com" />
      <input type="submit" value="Search" />
    </form>

     <div class="sidebox">
	<div class="boxhead"><h2>Emacs Org Mode</h2></div>
	<div class="boxbody">
		<p>The content for this site was written
		using Emacs org-mode
		<a href="http://org-mode.org">org-mode </a></p>
	</div>
     </div>

     <div class="sidebox">
	<div class="boxhead"><h2>Powered by Linode</h2></div>
	<div class="boxbody">
		<p>This site is hosted on a
		
		<a href="http://org-mode.org">Linode </a> server.</p>
	</div>
     </div>

     <div class="sidebox">
	<div class="boxhead"><h2>Archives</h2></div>
	<div class="boxbody">
		<p>
		
		<a href="/archives.html">Archives. </a></p>
	</div>
     </div>

